*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  justify-content: center;
  align-items: end;
  gap: 30px;
  width: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  /*outline-offset: 1px;*/
}

.search-form__label .search-form__label-text:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.3;
  color: rgb(255 255 255 / 0.7);
  border: none; /* Убираем все границы */
  border-top: 1px solid #fff; /* Добавляем верхнюю границу */
  border-bottom: 1px solid #fff; /* Добавляем нижнюю границу */
  background-color: transparent;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  text-decoration: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 399px;
  height: 100%;
  gap: 26px;
}

.content__list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__list-container:last-child {
  /*padding: 3px;*/
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 30px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding-left: 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover; /* Свойства object-fit могут быть cover, contain, fill и другие */
  object-position: center; /* Можно задать любое значение, например 50% 50%, top, bottom и другие */
}

.content__video-card-description-container {
  flex-grow: 1;
}

.title,
.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  color: #fff;
  font-size: 75px;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: inherit;
  text-decoration: none;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 100%;
  white-space: nowrap; /* Текст не будет переноситься*/
  overflow: hidden; /* Скрывает излишний текст */
  text-overflow: ellipsis; /* Добавляет «...» в конце текста */
  max-width: 195px; /* Здаёт ширину, после которой текст обрезается*/
  padding-bottom: 6px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Количество строк, после которых текст обрезается */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
  max-width: 195px;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.more-button {
  width: 100%;
  padding: 6px 0px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
